/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2020, 3:55:51 PM
    Author     : naveen
*/
footer{
    color: white;
    height: 100px;
    border: 2px #39424e dotted;
}

footer div.footerinfo ul{
   color: #39424e;
   font-family: sans-serif;
   float: left;
   list-style-type: none;
}

footer div.footerinfo ul li:hover{
    color: white;
}

footer div.socialmedia ul{
       float: right;
       color: white;
}

footer div.socialmedia ul li{
    list-style-type: none;
    display: inline;
}

img.media{
    height: 50px;
    width: 55px;
    margin-left: 5px;
    padding-top: 7px;
}

li a img.media:hover{
    transform: scale(1.2);
}

div.socialmedia ul li.follow
{
   color: #39424e;
   font-family: sans-serif;
   font-size: 20px;
}
