/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2020, 8:03:43 AM
    Author     : naveen
*/


html{
    background-color: black;
    scroll-behavior: smooth;
}

/*head //////////////////////////*/


header.home{
    position: sticky;
    top: 0px;
    height: 70px;
/*    background-color: rgba(0, 0, 0 ,0.4);*/
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 24%, rgba(0,1,0,1) 41%, rgba(0,212,255,1) 100%);
    border: 2px #39424e dotted;
}

nav ul.menu li a.icon{
    font-family: Arial;
    float: left;
    display: inline;
    padding-left: 20px;
    color: rgb(0,255,255);
    width: 200px;
    height: 25px;
    border: none;
    margin-right: 300px;
    text-decoration: none;
    font-size: 30px;
}

nav{
    padding-top: 3px;
}

a.menu {
    text-decoration: none;
}

ul.menu li{
      list-style-type: none;
      display:inline;
}

form.menu input{
    font-family: Arial;
    float: left;
    display: inline;
    padding-left: 20px;
    width: 200px;
    height: 25px;
    border: none;
    border-radius : 5px;
    border: 2px rgb(0,255,255) solid;
}

a.menu{
    font-family: Arial;
    color: rgb(183, 201, 204);
    font-size: 25px;
    padding-left: 20px; 
}

a.icon{
    font-family: Arial;
    color: rgb(183, 201, 204);
    font-size: 25px;
    padding-left: 20px; 
}

nav ul.menu li a.menu:hover
{
    color: black;
}

nav ul.menu li a.icon:hover
{
    color: white;
}

li a.login
{
      text-decoration: none;
      border-radius: 12px;
      font-family: Arial;
      color: rgb(183, 201, 204);
      font-size: 25px;
      margin-left: 20px;
      border: 2px rgb(0,255,255) solid;
      padding: 6px;
      transition: background-color .6s;
}

ul.menu li a.login:hover
{
/*    color: black;
    background-color: rgba(0,255,255,0.68);*/
   color: rgba(0,255,255,0.68);
    background-color: black;
}

