/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 7:54:36 PM
    Author     : naveen
*/

/*header///////*/
html{
        background: rgb(4,8,8);
    background: linear-gradient(180deg, rgba(4,8,8,1) 34%, rgba(41,84,172,1) 72%, rgba(0,255,226,1) 98%);
}

header.login{
    position: sticky;
    top: 0px;
    height: 70px;
    background-color: rgba(0, 0, 0 ,0);
}


li a.reg
{
      text-decoration: none;
      border-radius: 12px;
      font-family: Arial;
      color: rgb(183, 201, 204);
      font-size: 25px;
      margin-left: 800px;
      border: 2px rgb(0,255,255) solid;
      padding: 6px;
      transition: background-color .5s;
}

ul.menu li a.reg:hover
{
/*    color: black;
    background-color: rgba(0,255,255,0.68);*/
    color: black;
    background-color: rgba(0,255,255,0.68);
}


/*body//////////////*/


section{
    height: 72.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap:wrap; 
}

.container{
    padding: 70px 60px 70px 60px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
}


form{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

form label,input{
    margin: 5px;
}

div.text{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 10px; 
}

div.inputs{
    margin-top: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

form input.input{
    font-family: Arial;
    padding-left: 20px;
    width: 200px;
    height: 25px;
    border-radius : 5px;
    border: 2px rgb(0,255,255) solid;
}


form input.submit{
    font-family: Arial;
    color: white;
    width: 100px;
    height: 25px;
    background-color: rgba(0,0,0,0);
    border-radius : 5px;
    border: 2px aqua double;
    margin-top: 8px;
    margin-left: 65px;
    transition: background-color 3s;
    transition: color 2s;
}

form input.submit:hover{
       color: black;
       background-color: rgba(0,255,255,0.68);
}


.belowtext{
    margin-top: 5px;
    color:white;
    font-family: sans-serif;
    font-size: 15px;
}

.belowtext a{
    color: white;
}

.belowtext a:hover{
    color: aqua;
}

a.r{
    margin-left: 7px;
}

.belowtext p{
    margin-left: 70px;
}